body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Monda', sans-serif;
}

h1 {
  font-size: 4em;
}

nav {
  display: flex;
}

.button {
  cursor: pointer;
  padding: 0.5em 3em;
  border-radius: var(--aqua-border-curve);
  margin-top: 3em;
  background: var(--aqua-bg-dark);
  color: white;
}

.button:hover {
  color: white;
}

.selection {
  max-width: 24em;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
.selection label {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selection label input {
  width: auto;
  margin-right: 1em;
}

.button-wrapper {
  width: auto;
  text-align: center;
}

.button-inner {
  margin: 2em 1em;
  display: inline-block;
}
