body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Monda', sans-serif;
}

h1 {
  font-size: 4em;
}

nav {
  display: flex;
}

.button {
  cursor: pointer;
  padding: 0.5em 3em;
  border-radius: var(--aqua-border-curve);
  background: var(--aqua-bg-dark);
  color: white;
}

.button:hover {
  color: white;
}

.selection {
  max-width: 24em;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
.selection label {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selection label input {
  width: auto;
  margin-right: 1em;
}

.button-wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1em;
}

.button-inner:not(:first-child) {
  margin-top: 0.5em;
}

.side.our > .ring:not(.home) {
  cursor: pointer;
}

div.play-area .side.our > .ring:not(.home):hover {
  background-color: darkgreen !important;
  color: white !important;
  transition: 200ms;
}
