body {
  align-items: stretch;
  justify-content: flex-start;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

h1 {
  text-align: center;
  font-size: 4em;
}

section {
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border-radius: 10em;
  background: #c4c4c4;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

.ring {
  width: 4.5em;
  height: 4.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #e7e7e7;
}
.ring .score {
  font-size: 3em;
}
.ring.home {
  width: 6em;
  height: 6em;
}

.play-area {
  display: flex;
  flex-direction: row;
  padding: 1em 0;
}
.play-area .side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.play-area .side:first-child {
  margin-right: 1.5em;
}
.play-area .side div:not(:first-child) {
  margin-top: 1em;
}

@media only screen and (min-width: 768px) {
  main {
    flex-direction: row;
  }

  .play-area {
    flex-direction: column;
    padding: 0 1em;
  }
  .play-area .side {
    flex-direction: row;
  }
  .play-area .side:first-child {
    margin-right: unset;
    margin-bottom: 1.5em;
  }
  .play-area .side div:not(:first-child) {
    margin-top: unset;
    margin-left: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .ring {
    width: 7.5em;
    height: 7.5em;
  }
  .ring.home {
    width: 9em;
    height: 9em;
  }
}
