body {
  align-items: stretch;
  justify-content: flex-start;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

h1 {
  text-align: center;
  font-size: 4em;
}

section {
  display: flex;
  margin: 3em auto 1em;
}

#seed {
  position: relative;
  background: none;
}
#seed span {
  position: absolute;
  left: 60%;
  color: white;
  transform: translate(-60%, 80%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 1em;
  border-radius: 10em;
  background: #c4c4c4;
}

aside {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 3em;
}
aside h2 {
  writing-mode: vertical-lr;
  display: flex;
}

.play-area {
  display: flex;
  flex-direction: row;
  padding: 0.5em 0;
}
.play-area .side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.play-area .side:first-child {
  margin-right: 0.5em;
}
.play-area .side .ring:not(:first-child) {
  margin-top: 0.5em;
}

.ring {
  width: 4.5em;
  height: 4.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #e7e7e7;
}
.ring .score {
  writing-mode: vertical-lr;
  font-size: 3em;
}
.ring .seed {
  font-size: 2em;
}
.ring.home {
  width: 6em;
  height: 6em;
}

.button-wrapper {
  margin: 3em;
}

.button-inner {
  margin: 1em;
}

#end {
  display: none;
}

#win {
  display: none;
}

#lose {
  display: none;
}

#tie {
  display: none;
}

@media only screen and (min-width: 768px) {
  aside h2,
  .ring .score {
    writing-mode: unset;
  }
  section {
    flex-direction: column-reverse;
    margin: auto;
  }

  aside {
    margin: 3em 0 0;
  }

  main {
    flex-direction: row;
    padding: 1em 0.75em;
  }

  .play-area {
    flex-direction: column;
    padding: 0;
  }
  .play-area .side {
    flex-direction: row;
  }
  .play-area .side:first-child {
    margin-right: unset;
    margin-bottom: 0.5em;
  }
  .play-area .side .ring:not(:first-child) {
    margin-top: unset;
    margin-left: 0.5em;
  }
}

@media only screen and (min-width: 1024px) {
  main {
    padding: 1em 1.75em;
  }
  .play-area {
    padding: 0 0.5em;
  }
  .play-area .side:first-child {
    margin-bottom: 0.75em;
  }
  .play-area .side .ring:not(:first-child) {
    margin-left: 0.75em;
  }

  .ring {
    width: 5.75em;
    height: 5.75em;
  }
  .ring.home {
    width: 7.25em;
    height: 7.25em;
  }
}
