.photo-wrapper {
  margin: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.photo-inner {
  margin: auto;
}

.name {
  font-size: 1.2em;
  text-align: center;
}

img {
  border-radius: 50%;
  margin: 1em 3em;
}
