body {
  align-items: stretch;
  justify-content: flex-start;
}

h1 {
  text-align: center;
  font-size: 2em;
}

section {
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ring {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background: #7f6666;
}
.ring.home {
  width: 6em;
  height: 6em;
}

.play-area {
  display: flex;
  flex-direction: row;
}
.play-area .side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.play-area .side:first-child {
  margin-right: 0.2em;
}
.play-area .side div:not(:first-child) {
  margin-top: 0.2em;
}

@media only screen and (min-width: 768px) {
  main {
    flex-direction: row;
  }

  .play-area {
    flex-direction: column;
  }
  .play-area .side {
    flex-direction: row;
  }
  .play-area .side:first-child {
    margin-right: unset;
    margin-bottom: 0.2em;
  }
  .play-area .side div:not(:first-child) {
    margin-top: unset;
    margin-left: 0.2em;
  }
}

@media only screen and (min-width: 1024px) {
  .ring {
    width: 6em;
    height: 6em;
  }
  .ring.home {
    width: 9em;
    height: 9em;
  }
}
